.payment-container{
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    display: flex;
    justify-content: center;
    top: 0;
    left: 0;
}

.payment-content{
    width: 35vw;
    height: 75vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    padding: 20px;
    box-shadow: 0 0 10px gray;
    border-radius: 10px;
}

.payment-head{
    width: 100%;
    background-color: crimson;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    >h1{
        padding: 1vmax 3vmax;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        text-transform: uppercase;
        text-decoration: underline;
    }
    >p{
        padding: 1vmax 3vmax;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        text-transform: uppercase;
    }
}

.payment-input{
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    margin-top: 30px;
    border-bottom: 4px solid crimson;
    >input{
        width: 100%;
        padding: 1vmax 3vmax;
        text-align: center;
        font-size: 30px;
        border: none;
        outline: none;
    }
}

.payment-rupee-svg{
    position: absolute;
    width: 100px;
    height: 100px;
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.payment-numbers{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
    >div{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        place-items: center;
        gap: 10px;
        color: white;
        margin-top: 10px;
        >div{
            width: 100%;
            border-radius: 10px;
            padding: 1vmax 3vmax;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: rgb(220, 20, 60, 0.5);
        }
    }
}

.payment-btn{
    width: 100% !important;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    >button{
        background-color: crimson;
        color: white;
        width: 100% !important;
        font-size: 20px;
        text-transform: uppercase;
        border: none;
        outline: none;
        cursor: pointer;
        border-radius: 10px;
        padding: 1vmax 3vmax;
    }
}

#active_payment{
    background-color: crimson;
    color: wheat;
}

@media screen and (max-width: 700px){
    .payment-content{
        width: 90%;
        height: 55vh;
    }
}